@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@1,6..12,300&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    cursor:pointer ;
}
.navlist{
width: 50%;
display: flex;
align-items: center;
}
.navlist li{
list-style: none;
padding: 25px 30px;
}
.navlist li a{
 text-decoration: none;
 color: white;
}
.navlist li a:hover{
    color: gray;
   }
.rightnav{
    width: 50%;
    text-align: right;
    padding:10px 25px ;
    margin:8px 0px ;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 33%;
    border: 2px solid black;
    border-radius: 50px;
}
#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid gray ;
    border-radius: 9px;
}
.backgroung{
    background: rgba(0, 0, 0,0.7) url('../img/background_3.jpeg');
    background-size: cover;
    background-blend-mode: darken;
}
.firstsection{
    height: 100vh;
}
.box-main{
    display: flex;
    justify-items: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
}
.firsthalf{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secondhalf{
width: 30%;
}
.secondhalf img{
    width: 70%;
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;

    }
.big-text{
    font-size: 55px;
}    
.small-text{
    font-size: 20px;
}
.btn{
    padding:10px 25px ;
    margin:8px 0px ;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    background: none;
    color: white;
    cursor:pointer ;
}
.sea-btn{
    padding: 5px 20px ;
    margin:8px 0px ;
    font-size: 20px;
    background: none;
    color: white;
    cursor:pointer ;
    
}
.second-se{
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
}
.section-heading{
      font-size: 50px;
      font-family: 'Rubik', sans-serif;
color: black;
}

.section-para{
    margin: 15px 0;
font-size: 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: black;
}
.para-1{
    padding: 0 55px;
    /* margin:0 50px; */
}
.left-sec{
    flex-direction: row-reverse;
}
.para-img{
    width: 500px;
    border-radius: 25px;
    border: 2px solid black;
}
